/* 
main colors:
light: #66FCF1
dark: #0B0C10
*/

.movieCard{
    margin: 30px;
    height: 650px;
}

.movieBody{
    background-color: #0B0C10;
    color: #66FCF1;
}

.view{
    background-color: #66FCF1;
    border-radius: 3px;
    color: #0B0C10;
    padding: 8px 10px 10px 10px;
    text-align: center;
    position: absolute;
    left: 102px;
    bottom: 18px;
    font-weight: 700;
}

.view:hover{
    background-color: #0B0C10;
    color:#66FCF1;
    border: 1px solid #66FCF1;
    transition: 0.2s;
    cursor: pointer;
}

.swal2-title{
    color: #66FCF1 !important
}

.swal2-content{
    color: #66FCF1 !important
}

@media only screen and (max-width: 1200px){
 
    .movieDiv{
        margin: auto;
    }

}