/* 
main colors:
light: #66FCF1
dark: #0B0C10
*/

.navigate{
    background-color: #0B0C10;
}

.brand1{
    color: #66FCF1;
}

.brand2{
    background-color: #66FCF1;
    border-radius: 7px;
    color: #0B0C10;
    padding: 0px 5px 3px 5px;
    margin-left: 2px;
}

.brand2:hover{
    background-color: #0B0C10;
    color:#66FCF1;
    border: 1px solid #66FCF1;
    transition: 0.2s;
}

.browse{
    color: #66FCF1 !important;
    margin: 0px 30px 0px 30px;
}

.browse:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid #66FCF1;
}

.collapseIcon{
    color: #66FCF1 !important;
    border: none !important;
}

@media only screen and (max-width: 992px){
    .browse{
        margin-left: 0px !important;
        padding-bottom: 12px !important;
    }
}